{
  "workBranchPrefix": "ralph/",
  "mainBranch": "main",
  "autoTag": true,
  "testCommand": "[command]",
  "buildCommand": "[command]",
  "lintCommand": "[command]",
  "agent": "ralph",
  "mainModel": "github-copilot/claude-sonnet-4.5",
  "subagentModel": "opencode/glm-4.7-free",
  "serverMode": false
}
